html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*reset end */

.phone-wrapper {      /*overall frame*/
  width: 375px;
  margin: 5% auto 0; /* Top is 5% - left and right are automatically adjusting to center */
  height: 900px;
  background-color: white;
}

body {
  background-color: black;
}


.topbar{            /*blue bar*/
  position:relative;
  height: 64px;
  width: 100%;
  background-color: #00C6E1;
}

.chevron::before {    /*chevron*/
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	height: 0.45em;
	left: 0.15em;
	top: 0.15em;
	transform: rotate(-45deg);
	width: 0.45em;
}

.chevron.left:before {
	position: absolute;
  margin-top: 2.2em;
  margin-left: .625em;
	transform: rotate(-135deg);
  color: #ffffff;
}

.search {            /*Search*/
  position: absolute;
  padding-top: .85em;
  padding-left: 2em;
  font-size: 14px;
  font-family: "arial narrow";
  color: #ffffff;
}

.headline {       /* Washington and State*/
  padding-top: 1.4em;
  font-style: normal;
  font-family: "Arial narrow";
  font-size: 14px;
  color: #ffffff;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map{               /* map */
  width: 100%;
}


ul {                 /* bus list container*/
  position: relative;
  align-items: center;
  padding-top: .625em;
  padding-left: .625em;
  padding-bottom: .625em;
}

ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding:1%;
}


.busNum {             /* oval # */
  position:relative;
  height: 2.18em;
  width: 17%;
  background-color: #979797;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #ffffff;
  font-size: 17px;
}

.div {								/* div for busname and route */
	padding-left: 4%;
	width:50%;
	align-items: center;
	box-sizing: border-box;
}

.busName {           /* Streets */
	display: flex;
	color: #979797;
  font-family: "Helvetica Neue";
  font-style: normal;
  padding-left:4%;
  font-size: 16px;
  width:11em;;
	line-height: 18px
}

.route {   			/* bus route */
	display: flex;
	width: 55%;
	color: #00c6E1;
	font-size: 12px;
	padding-left: 4%;
	font-family: "Helvetica Neue";

}

.time{              /* Arrival time */
  display: inline-flex;
  color: #979797;
  font-family: "Helvetica Neue";
  font-size: 12px;
  width:40%;
  justify-content: flex-end;
  text-overflow: ellipsis;
  overflow: scroll;
}

.chevron.right:before {        /* grey chevron */
	transform: rotate(45deg);
  color: #979797;
  display:flex;
}
.right {
  width: 5%;
  }

.border {      /* border line */
  margin-left: 20%;
  border-bottom: 1px solid #979797;
  }

.botBar{            /*bot grey bar*/
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-left: 10%;
	padding-right: 10%;
	size: 5px;
	position:relative;
  background-color: white;
  height: 64px;
  width: 100%;
  border-top: 2px solid #979797;
}

.alert {
	size:
}
